body{
font-family: Arial, sans-serif;
margin: 0px;
padding: 0px;
}

header{
background-color: lightgray;
padding: 20px 0;
}

.header-logo {
    display: flex;
    align-item: center;
    justify-content: center;
}

.logo img {
max-width: 100px;
}

nav {
margin-left: auto;
}


