body {
    font-family: sans-serif, Arial;
    background-color: #121f27;
}

div {
    background-color: #303e49;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: #fff;
}

input {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #ffc138;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

img{
    max-width: 200px;
}

.centered{
    text-align: center;
}