body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #121f27;
}

header {
    background-color: #121f27;
    padding: 10px 0;
    height: 50 px;
    width: 100%;
    }

.header-content {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 150px;
}

.logo {
    float: left;
}

nav {
    display: flex;
    vertical-align: middle;
}

.logo {
    margin-right: 20px;
}

.box {
    padding: 25px;
    background-color: #ffc138;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 40px 0;
}

.box:hover {
    background-color: #e89d10;
}

.logout-box{
    float: right;
}
.loginoff-box{
    float: left;
}

footer {
    background-color: #121f27;
    color: #fff;
    padding: 20px;
    text-align: left;
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 200px;
}

.contact-box {
    max-width: 200px;
}

.contact-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-box p {
    font-size: 16px;
    margin-bottom: 5px;
}

img.treinador,
img.jogador {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

img.redes,
img.coach,
img.player {
    width: 150px;
    height: auto;
}

.treinador-box,
.jogador-box {
  color: #fff;
  display: inline-block;
  width: calc(50% - 10px);
  margin-bottom: 20px;
  vertical-align: top;
  padding: 10px;
  border: 1px solid #ccc;
}

.treinador-box h3,
.jogador-box h3 {
  margin-top: 0;
}

.treinador-box p,
.jogador-box p {
  margin-bottom: 5px;
}

.Texto {
    color: #fff;
    margin-left:20px;
}

.grelha {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grelha-item {
    background-color: #263B5C;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    color: #fff
}