body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #121f27;
}

header {
    background-color: #121f27;
    padding: 10px 0;
    height: 50 px;
    width: 100%;
    }

.header-content {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 150px;
}

.logo {
    float: left;
}

nav {
    display: flex;
    vertical-align: middle;
}

.logo {
    margin-right: 20px;
}

.box {
    padding: 25px;
    background-color: #ffc138;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 40px 0;
}

.box:hover {
    background-color: #e89d10;
}

.logout-box{
    float: right;
}
.loginoff-box{
    float: left;
}

footer {
    background-color: #121f27;
    color: #fff;
    padding: 20px;
    text-align: left;
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 200px;
}

.contact-box {
    max-width: 200px;
}

.contact-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-box p {
    font-size: 16px;
    margin-bottom: 5px;
}
.banner_socio{
    border: 5px solid #ffc138;
    }
    .Butoes{
    text-align: center;
    }
.banner_socio{
    border: 5px solid #ffc138;
    }
    .Butoes{
    text-align: center;
    }

    footer {
    background-color: #121f27;
    color: #fff;
    padding: 20px;
    text-align: left;
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 200px;
}

.contact-box {
    max-width: 200px;
}

.contact-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-box p {
    font-size: 16px;
    margin-bottom: 5px;
}