body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #121f27;
}

header {
    background-color: #121f27;
    padding: 10px 0;
    height: 50 px;
    width: 100%;
    }

.header-content {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 150px;
}

.logo {
    float: left;
}

nav {
    display: flex;
    vertical-align: middle;
}

.logo {
    margin-right: 20px;
}

.box {
    padding: 25px;
    background-color: #ffc138;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 40px 0;
}

.box:hover {
    background-color: #e89d10;
}

.news-container {
    margin-top: 20px;
    display: flex;
}

.news-description {
    margin-top: 10px;
}

.ladlad {

}

.news {
    flex: 1;
    margin-top: 20px;
    padding: 20px;
   background-color: #6758A3;
    border-radius: 5px;
    width: 65%;
    margin-left: 30px;
}

.news img {
    max-width: 100%;
    border-radius: 5px;
}

.news-title {
    font-size: 24px;
    margin-top: 10px;
}

.news-description {
    margin-top: 10px;
}

.recent-games {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #808080;
    width: 20%;
}

.game {
    background-color: #263B5C;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.game-info {
    color: #fff;
}
.logout-box{
float: right;
}
.loginoff-box{
float: left;
}

.flex-container {
    display: flex;
}

.club-history {
    background-color: #263B5C;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    border: 2px solid #fff;
    flex: 0 0 70%;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 0 0 30%;
}

.images img {
    width: 80%;
    height: auto;
    margin-top: 20px;
    border-right: 100px solid #121f27;
}

footer {
    background-color: #121f27;
    color: #fff;
    padding: 20px;
    text-align: left;
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 200px;
}

.contact-box {
    max-width: 200px;
}

.contact-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-box p {
    font-size: 16px;
    margin-bottom: 5px;
}

img.treinador,
img.jogador {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

img.redes,
img.coach,
img.player {
    width: 150px;
    height: auto;
}

.treinador-box,
.jogador-box {
  color: #fff;
  display: inline-block;
  width: calc(50% - 10px);
  margin-bottom: 20px;
  vertical-align: top;
  padding: 10px;
  border: 1px solid #ccc;
}

.treinador-box h3,
.jogador-box h3 {
  margin-top: 0;
}

.treinador-box p,
.jogador-box p {
  margin-bottom: 5px;
}

.TextoH1 {
    color: #fff;
}