<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CheckOut | Site Oficial do Glu Glu Futebol Clube</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'checkout.css' %}">
</head>
<body>
<main>
<div class="centered">
        <a href="{% url 'homepage' %}">
        <img src="{% static 'logo.png' %}" alt="logotipo">
        </a>

    <h2>CHECKOUT</h2>
    <p>Obrigado pelas suas compras!</p>
    <h2>Detalhes da Compra:</h2>
    <p><strong>Usuário:</strong> {{ venda.usuario.username }}</p>
    <p><strong>Produtos:</strong></p>
    <ul>
        {% for produto in venda.produtos.all %}
        {% if produto.tipo != 'Bilhete' %}
        <li>{{ produto.nome }} - {{ produto.preco }} €</li>
        {% else %}
        <li>{{ produto.bilhete.equipa_casa }} x {{ produto.bilhete.equipa_fora }} - {{ produto.preco }} €</li>
        {% endif %}
        {% endfor %}
    </ul>
    </div>
</main>
</body>
</html>
