<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Produto | Site Oficial do Glu Glu Futebol Clube</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}"/>
    <style>
        .centered{
        text-align: center;
        }
    </style>
</head>
<body>
<div class="centered">
        <a href="{% url 'homepage' %}">
        <img src="{% static 'logo.png' %}" alt="logotipo">
        </a>

        <h2>Eliminar Produto</h2>

        <form method="post">
            {% csrf_token %}
            <label for="cod">Código do Produto: </label><br>
            <input type="number" id="cod" name="cod" required><br>

            <button type="submit">Eliminar Produto</button>
        </form>
    </div>
</body>
</html>