<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME | Site Oficial do Glu Glu Futebol Clube </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'estrutura.css' %}"/>
</head>
<body>
    <header>
        <div class="header-logo">
            <div class="logo">
                <img src="{% static 'logo.png' %}" alt="logotipo">
            </div>
            <nav>
                <a href="{% url 'plantel' %}" class="box">Plantel</a>
                <a href="{% url 'loja' %}" class="box">Loja</a>
                <a href="{% url 'bilhetes' %}" class="box">Bilhetes</a>
                <a href="{% url 'noticias' %}" class="box">Notícias</a>
                <a href="{% url 'clube' %}" class="box">Clube</a>
                <a href="{% url 'socio' %}" class="box">Sócio</a>
                <a href="{% url 'login' %}" class="box">Conta</a>
            </nav>
        </div>

    </header>

    <main>

    </main>

</body>
</html>