<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loja | Site Oficial do Glu Glu Futebol Clube</title>
    {% load static %}
       <link rel="stylesheet" href="{% static 'loja_final2.css' %}">
</head>
<body>
     <header>
        <div class="header-logo">
            <div class="logo">
                <a href="{% url 'homepage' %}">
                    <img src="{% static 'logo.png' %}" alt="logotipo">
                </a>
            </div>
            <nav>
                <a href="{% url 'noticias' %}" class="box">Notícias</a>
                    <a href="{% url 'plantel' %}" class="box">Plantel</a>
                    <a href="{% url 'bilhetes' %}" class="box">Bilhetes</a>
                    <a href="{% url 'clube' %}" class="box">Clube</a>
                    <a href="{% url 'socio' %}" class="box">Sócio</a>
                    <a href="{% url 'loja' %}" class="box">Loja</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="box">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="box">Conta</a>
                    {% endif %}
            </nav>
        </div>
    </header>
<br><main>
         {% if user.is_authenticated %}
         <div class="linha">
             {% if user.userdetails.is_admin %}
             <a href="{% url 'criar-produto' %}" class="creation">Criar Produto</a>
             <a href="{% url 'eliminar-produto' %}" class="creation">Eliminar Produto</a>
             {% endif %}
             <a href="{% url 'carrinho' %}" class="creation">Carrinho</a>
         </div>
         {% endif %}


         <div class="grelha">
            {% for product in produtos %}
            <div class="grelha-item">
                {% if product.imagem_nome %}
                <img src="{% static 'imagens/' %}{{ product.imagem_nome }}" width="200">
                {% endif %}
                {% if product.tipo != 'Bilhete' %}
                <h2>{{ product.nome }}</h2>
                {% else %}
                <h2>{{ product.bilhete.equipa_casa }} x {{ product.bilhete.equipa_fora }}</h2>
                <p>{{ product.bilhete.data }}</p>
                {% endif %}

                <p>Preço: {{ product.preco }} €</p>
                <p>Tipo: {{ product.tipo }}</p>
                {% if user.userdetails.is_admin and user.is_authenticated  %}
                <p>Codigo do Produto: {{ product.cod_produto }}</p>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'adicionarcarrinho' product.id %}" class="add">Adicionar ao Carrinho</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
</main>
    <footer>
        <div class="contact-box">
            <h3>Contactos</h3>
            <p>Email: info@gluglufc.com</p>
            <p>Telefone: +123456789</p>
            <p>Endereço: Rua do Futebol, Glugluvillage</p>
        </div>
    </footer>

</body>
</html>