<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTÍCIAS | Site Oficial do Glu Glu Futebol Clube</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>
<body>
    <header>
        <div class="header-logo">
            <div class="logo">
                <a href="{% url 'homepage' %}">
                    <img src="{% static 'logo.png' %}" alt="logotipo">
                </a>
            </div>
                <nav>
                    <a href="{% url 'noticias' %}" class="box">Notícias</a>
                    <a href="{% url 'plantel' %}" class="box">Plantel</a>
                    <a href="{% url 'clube' %}" class="box">Clube</a>
                    <a href="{% url 'socio' %}" class="box">Sócio</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="box">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="box">Conta</a>
                    {% endif %}
                </nav>
        </div>
    </header>

    <main>
        {% if user.userdetails.is_admin and user.is_authenticated  %}
            <a href="{% url 'criar_noticia' %}"><button>Criar Notícia</button></a>
            <a href="{% url 'criar_jogo' %}"><button>Criar Jogo</button></a>
        {% endif %}

            {% for noticia in ultimas_noticias %}
                <div class="news">
                    <img src="{% static 'noticias/' %}{{ noticia.imagem_nome }}" width="200">
                    <div class="news-content">
                        <h2 class="news-title">{{ noticia.titulo }}</h2>
                        <p class="news-description">{{ noticia.descricao }}</p>
                    </div>
                </div>
            {% endfor %}


            <div class="recent-games">
                {% for jogo in ultimos_jogos %}
                    <div class="game">
                        <h2 class="game-info">Contra: {{ jogo.adversario }}</h2>
                        <p class="game-info">Resultado: {{ jogo.golos_clube }} x {{ jogo.golos_adversario }}</p>
                        <p class="game-info">Local: {{ jogo.local }}</p>
                        <p class="game-info">Data: {{ jogo.data_jogo }}</p>
                    </div>
                {% endfor %}
            </div>
    </main>
    <footer>
        <div class="contact-box">
            <h3>Contactos</h3>
            <p>Email: info@gluglufc.com</p>
            <p>Telefone: +123456789</p>
            <p>Endereço: Rua do Futebol, Glugluvillage</p>
        </div>
    </footer>
</body>
</html>