<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLANTEL | Site Oficial do Glu Glu Futebol Clube</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'plantel.css' %}"/>
</head>
<body>
    <header>
        <div class="header-logo">
            <div class="logo">
                <a href="{% url 'homepage' %}">
                    <img src="{% static 'logo.png' %}" alt="logotipo">
                </a>
            </div>
                <nav>
                    <a href="{% url 'noticias' %}" class="box">Notícias</a>
                    <a href="{% url 'plantel' %}" class="box">Plantel</a>
                    <a href="{% url 'bilhetes' %}" class="box">Bilhetes</a>
                    <a href="{% url 'clube' %}" class="box">Clube</a>
                    <a href="{% url 'socio' %}" class="box">Sócio</a>
                    <a href="{% url 'loja' %}" class="box">Loja</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="box">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="box">Conta</a>
                    {% endif %}
                </nav>
        </div>
    </header>
    <main>
        <div class="linha">
            {% if user.userdetails.is_admin and user.is_authenticated  %}
                <a href="{% url 'criar_jogador' %}" class="creation">Criar Jogador</a>
                <a href="{% url 'criar_treinador' %}" class="creation">Criar Treinador</a>
            {% endif %}
        </div>
        <br>

        <h1 class="Texto">EQUIPA TÉCNICA</h1>
        <div class="grelha">
            {% for treinador in treinadores %}
                <div class="grelha-item">
                    <h3>{{ treinador.name }}</h3>
                    <img src="{% static 'glu-glu-coach.jpeg' %}" alt="Treinador" class="coach">
                    <p>Função: {{ treinador.job }}</p>
                    <p>Idade: {{ treinador.age }}</p>
                    <p>Hierarquia: {% if treinador.main %}Principal{% else %}Não Principal{% endif %}</p>
                </div>
            {% endfor %}
        </div>

        <h1 class="Texto">Jogadores</h1>
        <h2 class="Texto">Guarda-Redes</h2>
        <div class="grelha">
            {% for jogador in jogadores %}
                {% if jogador.position == "Guarda-Redes" %}
                    <div class="grelha-item">
                        <h3>{{ jogador.name }}</h3>
                        <img src="{% static 'glu-glu-redes.jpeg' %}" alt="Guarda-Redes" class="redes">
                        <p>Número: {{ jogador.number }}</p>
                        <p>Posição: {{ jogador.position }}</p>
                        <p>Idade: {{ jogador.age }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <h2 class="Texto">Laterais</h2>
        <div class="grelha">
            {% for jogador in jogadores %}
                {% if jogador.position == "Lateral" %}
                    <div class="grelha-item">
                        <h3>{{ jogador.name }}</h3>
                        <img src="{% static 'glu-glu-jogador.jpeg' %}" alt="Jogador" class="player">
                        <p>Número: {{ jogador.number }}</p>
                        <p>Posição: {{ jogador.position }}</p>
                        <p>Idade: {{ jogador.age }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <h2 class="Texto">Centrais</h2>
        <div class="grelha">
            {% for jogador in jogadores %}
                {% if jogador.position == "Central" %}
                    <div class="grelha-item">
                        <h3>{{ jogador.name }}</h3>
                        <img src="{% static 'glu-glu-jogador.jpeg' %}" alt="Jogador" class="player">
                        <p>Número: {{ jogador.number }}</p>
                        <p>Posição: {{ jogador.position }}</p>
                        <p>Idade: {{ jogador.age }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <h2 class="Texto">Médios</h2>
        <div class="grelha">
            {% for jogador in jogadores %}
                {% if jogador.position == "Médio" %}
                    <div class="grelha-item">
                        <h3>{{ jogador.name }}</h3>
                        <img src="{% static 'glu-glu-jogador.jpeg' %}" alt="Jogador" class="player">
                        <p>Número: {{ jogador.number }}</p>
                        <p>Posição: {{ jogador.position }}</p>
                        <p>Idade: {{ jogador.age }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <h2 class="Texto">Extremos</h2>
        <div class="grelha">
            {% for jogador in jogadores %}
                {% if jogador.position == "Extremo" %}
                    <div class="grelha-item">
                        <h3>{{ jogador.name }}</h3>
                        <img src="{% static 'glu-glu-jogador.jpeg' %}" alt="Jogador" class="player">
                        <p>Número: {{ jogador.number }}</p>
                        <p>Posição: {{ jogador.position }}</p>
                        <p>Idade: {{ jogador.age }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <h2 class="Texto">Avançados</h2>
        <div class="grelha">
            {% for jogador in jogadores %}
                {% if jogador.position == "Avançado" %}
                    <div class="grelha-item">
                        <h3>{{ jogador.name }}</h3>
                        <img src="{% static 'glu-glu-jogador.jpeg' %}" alt="Jogador" class="player">
                        <p>Número: {{ jogador.number }}</p>
                        <p>Posição: {{ jogador.position }}</p>
                        <p>Idade: {{ jogador.age }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </main>
    <footer>
        <div class="contact-box">
            <h3>Contactos</h3>
            <p>Email: info@gluglufc.com</p>
            <p>Telefone: +123456789</p>
            <p>Endereço: Rua do Futebol, Glugluvillage</p>
        </div>
    </footer>
</body>
</html>